.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 20px 20px rgba(126, 120, 120, 0.6);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: -1;
}

.upperSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: min-content;
}

.menuUp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
}

.lowerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.quoteContainer > q {
  max-width: 30ch;
  text-align: center;
}

.titleShadow {
  text-shadow: 0 0 10px rgba(180, 113, 13, 0.6);
}
